In [1]:
import pandas as pd
import numpy as np
from scipy import stats
from math import ceil
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import math
import matplotlib.pyplot as plt
import warnings
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score
from sklearn.metrics import confusion_matrix, f1_score, roc_auc_score
import sklearn
from sklearn.preprocessing import *
from sklearn.preprocessing import QuantileTransformer

In [2]:
sample = pd.read_csv('sample_submission.csv')
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

In [3]:
# date 에서 연도 칼럼, 월 칼럼, 일 칼럼 따로 분리 
def seperate_date(df):
    date=list(df['Date'])
    year=[]
    month=[]
    day=[]
    year_=''
    month_=''
    day_=''
    wday=1
    for j in date:
        list_=j.split("/")
        for i in range(3):
            if(i==0):
                day_+=list_[i]
            elif(i==1):
                month_+=list_[i]
            elif(i==2):
                year_+=list_[i]
        year.append(int(year_))
        month.append(int(month_))
        day.append(int(day_))
        year_=''
        month_=''
        day_=''
    df=df.drop(columns='Date')
    df['year']=year
    df['month']=month
    df['day']=day
    return df

In [4]:
train=seperate_date(train)
train = train.fillna(train.mean())
train["Weekly_Sales"] = np.log1p(train["Weekly_Sales"])
train["IsHoliday"] = train["IsHoliday"].astype(int)
train = pd.get_dummies(data = train,columns = ['Store'])
train=train.drop(columns=['id'])
train

,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,Weekly_Sales,...,Store_36,Store_37,Store_38,Store_39,Store_40,Store_41,Store_42,Store_43,Store_44,Store_45
0,42.31,2.572,7155.930661,3308.12581,1462.535523,3465.952501,4518.993173,8.106,0,14.312455,...,0,0,0,0,0,0,0,0,0,0
1,38.51,2.548,7155.930661,3308.12581,1462.535523,3465.952501,4518.993173,8.106,1,14.311400,...,0,0,0,0,0,0,0,0,0,0
2,39.93,2.514,7155.930661,3308.12581,1462.535523,3465.952501,4518.993173,8.106,0,14.292967,...,0,0,0,0,0,0,0,0,0,0
3,46.63,2.561,7155.930661,3308.12581,1462.535523,3465.952501,4518.993173,8.106,0,14.158908,...,0,0,0,0,0,0,0,0,0,0
4,46.50,2.625,7155.930661,3308.12581,1462.535523,3465.952501,4518.993173,8.106,0,14.256862,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6250,75.09,3.867,23641.300000,6.00000,92.930000,6988.310000,3992.130000,8.684,0,13.506671,...,0,0,0,0,0,0,0,0,0,1
6251,75.70,3.911,11024.450000,12.80000,52.630000,1854.770000,2055.700000,8.684,1,13.549608,...,0,0,0,0,0,0,0,0,0,1
6252,67.87,3.948,11407.950000,3308.12581,4.300000,3421.720000,5268.920000,8.684,0,13.462029,...,0,0,0,0,0,0,0,0,0,1
6253,65.32,4.038,8452.200000,92.28000,63.240000,2376.380000,8670.400000,8.684,0,13.491285,...,0,0,0,0,0,0,0,0,0,1
6254,64.88,3.997,4556.610000,20.64000,1.500000,1601.010000,3288.250000,8.684,0,13.477482,...,0,0,0,0,0,0,0,0,0,1

In [5]:
test=seperate_date(test)
test = test.fillna(test.mean())
test["IsHoliday"] = test["IsHoliday"].astype(int)
test = pd.get_dummies(data = test,columns = ['Store'])
test=test.drop(columns=['id'])

test

,Temperature,Fuel_Price,Promotion1,Promotion2,Promotion3,Promotion4,Promotion5,Unemployment,IsHoliday,year,...,Store_36,Store_37,Store_38,Store_39,Store_40,Store_41,Store_42,Store_43,Store_44,Store_45
0,68.55,3.617,8077.89,64.672,18.22,3617.430000,3626.14,6.573,0,2012,...,0,0,0,0,0,0,0,0,0,0
1,62.99,3.601,2086.18,64.672,8.11,602.360000,5926.45,6.573,0,2012,...,0,0,0,0,0,0,0,0,0,0
2,67.97,3.594,950.33,64.672,4.93,80.250000,2312.85,6.573,0,2012,...,0,0,0,0,0,0,0,0,0,0
3,69.16,3.506,2585.85,31.750,6.00,1057.160000,1305.01,6.573,0,2012,...,0,0,0,0,0,0,0,0,0,0
4,70.27,3.617,6037.76,64.672,10.04,3027.370000,3853.40,6.170,0,2012,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,46.97,3.755,38.65,2.610,0.98,1284.340068,457.74,5.217,0,2012,...,0,0,0,0,0,0,0,0,1,0
176,64.89,3.985,5046.74,64.672,18.82,2253.430000,2340.01,8.667,0,2012,...,0,0,0,0,0,0,0,0,0,1
177,54.47,4.000,1956.28,64.672,7.89,599.320000,3990.54,8.667,0,2012,...,0,0,0,0,0,0,0,0,0,1
178,56.47,3.969,2004.02,64.672,3.18,437.730000,1537.49,8.667,0,2012,...,0,0,0,0,0,0,0,0,0,1
179,58.85,3.882,4018.91,58.080,100.00,211.940000,858.33,8.667,0,2012,...,0,0,0,0,0,0,0,0,0,1

In [6]:
train=train.drop("IsHoliday",axis=1)
test=test.drop("IsHoliday",axis=1)
train=train.drop("Fuel_Price",axis=1)
test=test.drop("Fuel_Price",axis=1)

In [7]:
from sklearn.preprocessing import RobustScaler


promos = ['Promotion1','Promotion2','Promotion3','Promotion4','Promotion5']

scaler = RobustScaler()
scaler.fit(train[promos])
train[promos] = scaler.transform(train[promos])
test[promos] = scaler.transform(test[promos])

In [8]:
import xgboost
from xgboost import XGBRegressor
from xgboost import XGBRegressor as model

y = train['Weekly_Sales']
x= train.drop('Weekly_Sales',axis =1)
model = XGBRegressor(objective='reg:squarederror',learning_rate=0.1,max_depth = 4, n_estimators = 1000)
model.fit(x, y)
pred = model.predict(test)      
pred = pd.DataFrame(pred, columns=['Weekly_Sales'])
pred = np.expm1(pred)
pred['Weekly_Sales'].tolist()

[1658553.375,
 1428819.0,
 1359716.5,
 1524376.625,
 1833496.25,
 1763131.625,
 1764391.5,
 1846428.5,
 431423.09375,
 388116.5,
 393198.53125,
 401784.6875,
 2180079.75,
 2032635.25,
 2136303.0,
 2088115.625,
 365574.09375,
 308871.59375,
 310895.65625,
 348136.28125,
 1551533.5,
 1340719.75,
 1311845.875,
 1476009.0,
 622350.875,
 592712.375,
 572005.4375,
 655468.125,
 942856.0625,
 790126.3125,
 851610.125,
 893460.875,
 578620.0625,
 515550.375,
 518201.84375,
 547518.75,
 1800487.0,
 1719077.375,
 1747691.625,
 1806561.875,
 1397351.875,
 1294836.125,
 1307463.125,
 1347161.5,
 975834.1875,
 875337.0625,
 877395.5625,
 1037173.5,
 2045050.25,
 1820375.0,
 1887650.125,
 2166413.25,
 1802691.25,
 1580335.75,
 1644778.75,
 1711439.75,
 544062.0625,
 542692.5,
 483548.125,
 612506.5,
 521341.0625,
 510990.28125,
 497788.84375,
 519864.03125,
 969257.375,
 828520.875,
 811184.25,
 931899.9375,
 1063587.5,
 1064352.5,
 957368.8125,
 999999.1875,
 1351927.375,
 1314577.25,
 1206862.375,
 1287823.875,
 2086664.375,
 2020463.375,
 1948770.75,
 1911287.75,
 698641.8125,
 688328.0625,
 659393.625,
 721999.6875,
 1003741.75,
 918606.0625,
 956911.5,
 978256.8125,
 1373086.125,
 1289056.375,
 1189418.0,
 1324002.25,
 1352817.25,
 1284019.75,
 1262242.0,
 1358536.875,
 701895.4375,
 697065.1875,
 658917.75,
 726618.0625,
 1023060.5625,
 961561.375,
 897497.6875,
 943212.25,
 1665317.875,
 1628788.375,
 1602431.125,
 1707589.0,
 1374282.25,
 1182862.75,
 1118517.875,
 1114931.0,
 510703.8125,
 521175.53125,
 474621.1875,
 538744.5,
 489300.78125,
 432015.5625,
 429866.125,
 449184.875,
 1431302.5,
 1374727.875,
 1357991.625,
 1394862.125,
 1211479.625,
 1142879.5,
 1123272.75,
 1176786.875,
 255437.265625,
 272129.0,
 242003.90625,
 247470.859375,
 962357.6875,
 972827.3125,
 865564.875,
 898166.4375,
 822392.375,
 809780.5625,
 746985.75,
 795094.8125,
 309791.40625,
 313176.3125,
 311358.53125,
 295716.625,
 529006.875,
 534969.625,
 517272.125,
 524751.0,
 477091.28125,
 408950.34375,
 414282.25,
 417306.59375,
 1578115.875,
 1513268.375,
 1548998.0,
 1490914.625,
 995213.6875,
 942825.5,
 849780.6875,
 951021.625,
 1352443.125,
 1308322.5,
 1260578.375,
 1269073.75,
 618407.5625,
 604664.3125,
 538226.375,
 568399.625,
 657286.5625,
 631251.4375,
 609575.9375,
 607797.3125,
 345433.3125,
 330091.59375,
 323772.8125,
 337341.5625,
 734565.125,
 685854.5,
 689487.6875,
 745760.75]

In [9]:
sample['Weekly_Sales'] = pred
sample
sample.to_csv('first_27.csv',index=False)

In [10]:
sum(pred['Weekly_Sales'])

180311960.84375

In [11]:
#180214754.25
#180311960.84375 fual 날린거